# gradle

.gradle/
out/
!**/src/main/**/out/
!**/src/test/**/out/
classes/
!**/src/main/**/classes/
!**/src/test/**/classes/
dist/
!**/src/main/**/dist/
!**/src/test/**/dist/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws
logs/
!**/src/main/**/logs/
!**/src/test/**/logs/

# vscode

.settings/
.vscode/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
!**/src/main/**/run/
!**/src/test/**/run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
!**/src/main/**/build/
!**/src/test/**/build/
